{% if queryset.has_other_pages %}


{% if queryset.has_previous %}
    <a name="page" href="?page=1">First</a>
    <a name="page" href="?page={{queryset.previous_page_number}}">Previous</a>
{% endif %}


{% for num in queryset.paginator.page_range %}
    {% if num == queryset.number %}
        <a name="page" href="?page={{num}}">{{num}}</a>
    {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
        <a name="page" href="?page={{num}}">{{num}}</a>
    {% endif %}
{% endfor %}


{% if queryset.has_next %}
    <a name="page" href="?page={{queryset.next_page_number}}">Next</a>
    <a name="page" href="?page={{queryset.paginator.num_pages}}">Last</a>
{% endif %}

{% endif %}