{% extends 'base.html' %}


{% block content %}


<main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{news}}</span>)</h3>
      <ul class="messages">

        {% for msg in my_msgs %}
            {% if msg.status == False %}
                <li class="message" >
                    <a href="{% url 'message-view' msg.pk %}">
                        <span style="font-weight: bold;" class="message__author">{{msg.sender.profile.name}}</span>
                        <span style="font-weight: bold;" class="message__subject">{{msg.title}}</span>
                        <span style="font-weight: bold;" class="message__date">{{msg.created|timesince}}</span>
                    </a>
                </li>
            {% else %}
                <li class="message">
                    <a href="{% url 'message-view' msg.pk %}">
                        <span class="message__author">{{msg.sender.profile.name}}</span>
                        <span class="message__subject">{{msg.title}}</span>
                        <span class="message__date">{{msg.created|timesince}}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}


      </ul>
    </div>
  </main>


{% endblock content %}


