{% extends 'base.html' %}

{% block content %}
    {% if status == 'login' %}
    <form action="" method="POST">
        {% csrf_token %}

        Username :- <input type="text" name="username" required>
        <br><br>
        Password :- <input type="password" name="password" required>
        <br><br>

        <button type="submit">Login</button>
        <p>Don't have an account <a href="{% url 'register' %}">Sign Up</a></p>
    </form>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}

            {{form.as_p}}

        <button type="submit">Register</button>
        <p>Already have an account <a href="{% url 'login' %}">Sign In</a></p>
    </form>
    {% endif %}

{% endblock content %}